body{
	font-family: MS Sans Serif;
	background-image: url(blackBackground.jpg);
}

h1{
	text-align: center;
}

h2{
	margin-left: 30px;
}

img{
	width: 250px;
	height: 200px;
}

ul{
	margin-left: 30px;
}

li{
	margin-top: 5px;
}

table{
	background: #000000;
	color: #FFFFFF;
	border-color: #FFFFFF;
}
td:not(.three){
	text-align: center;
}

a{
	color: #000000;
}

a:hover{
	color: #FFFFFF;
	padding: 5px;
	background: #000000;
}

.basic{
	background: #FFFFFF;
	position: absolute;
	left: 200px;
	right: 200px;
}
